{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div style="max-width: 450px;" class="mx-auto mt-3"> {{ messages[0] }}</div>
{% endif %}
{% endwith %}
<div style="max-width: 450px" class="card mx-auto mt-3">
    <h5 class="card-header">Postcode Lookup</h5>
    <div class="card-body">
        <form method="GET" action="/result">
            <div class="form-group">
                <label for="postcode">Postcode</label>
                <input type="number" class="form-control" id="postcode" name="postcode"
                    aria-describedby="emailHelp" maxlength="4" minlength="4">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
<div style="max-width: 450px" class="card mx-auto mt-3">
    <h5 class="card-header">Suburb Lookup</h5>
    <div class="card-body">
        <form method="GET" action="/result">
            <div class="form-group">
                <label for="suburb">Suburb</label>
                <input type="text" class="form-control" id="suburb" name="suburb">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block end_body %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script>
    $('body').css('overflow-y', 'hidden'); // HACKY

    $(function () {
        $.ajax({
            url: '{{ url_for("autocomplete") }}?type=postcode'
        }).done(function (data) {
            $('#postcode').autocomplete({
                source: data,
                minLength: 2
            });
        });

        $.ajax({
            url: '{{ url_for("autocomplete") }}?type=suburb'
        }).done(function (data) {
            $('#suburb').autocomplete({
                source: data,
                minLength: 2
            });
        });
    });
</script>
{% endblock %}