{% extends 'base.html' %}
{% block content %}
<div class="mx-3 mt-3 card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('group_by') == 'alphabetical' %}active{% endif %}" href="/list?group_by=alphabetical">Alphabetical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('group_by') == 'state' %}active{% endif %}" href="/list?group_by=state">State</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('group_by') == 'postcode' %}active{% endif %}" href="/list?group_by=postcode">Postcode</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        {% if request.args.get('group_by') %}
            {% for descriptor in results %}
                <a href="#{{ descriptor }}">{{ descriptor }}</a>
            {% endfor %}
            <br>
            <br>
            {% for descriptor in results %}
                <a id="{{ descriptor }}"><h4>{{ descriptor }}</h4></a>
                {% for result in results[descriptor] %}
                    <a href="/result?id={{ result.id }}">{{ result.suburb }} - {{ result.postcode }}</a><br>
                {% endfor %}
                <br>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger mb-0">Request parameter "group_by" not set</div>
        {% endif %}
    </div>
</div>
{% endblock %}